.text-white {
    color: rgb(255 255 255);
    /* padding: 1.5rem 0.5rem; */
}


/* footer {
    display: block;
    unicode-bidi: isolate;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: rgb(17 24 39);
} */
.bg-gray-900 {
    background-color: rgb(17 24 39);
}

.gap-4 {
    gap: 1rem;
}


.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}


.justify-between {
    justify-content: space-between;
}


.flex {
    display: flex;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}



@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}