.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.min-h-\[100dvh\] {
    min-height: -10dvh;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-device-width : 981px) {
    .md\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.font-bold {
    font-weight: 700;
}

.overflow-hidden {
    overflow: hidden;
}

.w-full {
    width: 100%;
}

.items-center {
    align-items: center;
}

.rounded-full {
    border-radius: 9999px;
}

.bg-gray-900 {
    background-color: rgb(17 24 39);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.text-white {
    --text-opacity: 1;
    color: rgb(255 255 255 / var(--text-opacity));
}

.gap-4 {
    gap: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}


@media screen and (min-device-width : 981px) {
    .md\:justify-between {
        justify-content: space-between;
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

body {
    margin: 0;
    line-height: inherit;
}

@media screen and (max-device-width : 480px) {
    .md\:a {
        font-size: 1.5rem
    }

    .text-sm {
        font-size: 0.95rem;
        line-height: 1.25rem;
    }
}

/* @media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    body {
        background-color: rgb(174, 255, 0);
    }
@media screen and (min-device-width : px) {
    body {
        background-color: rgb(174, 255, 0);
    }
}

@media screen and (max-device-width : 480px) {
    body {
        background-color: rgb(38, 0, 255);
    }


}

@media screen and (min-device-width : 1050px) {
    body {
        background-color: rgb(255, 0, 64);
    }
} */